<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";
  }

  p {
    margin: 0;
    color: var(--gray-700);
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .angular-logo {
    max-width: 9.2rem;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }

  .content h1 {
    margin-top: 1.75rem;
  }

  .content p {
    margin-top: 1.5rem;
  }

  .divider {
    width: 1px;
    background: var(--red-to-pink-to-purple-vertical-gradient);
    margin-inline: 0.5rem;
  }

  .pill-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    gap: 1.25rem;
  }

  .pill {
    display: flex;
    align-items: center;
    --pill-accent: var(--bright-blue);
    background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
    color: var(--pill-accent);
    padding-inline: 0.75rem;
    padding-block: 0.375rem;
    border-radius: 2.75rem;
    border: 0;
    transition: background 0.3s ease;
    font-family: var(--inter-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
    letter-spacing: -0.00875rem;
    text-decoration: none;
  }

  .pill:hover {
    background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
  }

  .pill-group .pill:nth-child(6n + 1) {
    --pill-accent: var(--bright-blue);
  }
  .pill-group .pill:nth-child(6n + 2) {
    --pill-accent: var(--french-violet);
  }
  .pill-group .pill:nth-child(6n + 3),
  .pill-group .pill:nth-child(6n + 4),
  .pill-group .pill:nth-child(6n + 5) {
    --pill-accent: var(--hot-red);
  }

  .pill-group svg {
    margin-inline-start: 0.25rem;
  }

  .social-links {
    display: flex;
    align-items: center;
    gap: 0.73rem;
    margin-top: 1.5rem;
  }

  .social-links path {
    transition: fill 0.3s ease;
    fill: var(--gray-400);
  }

  .social-links a:hover svg path {
    fill: var(--gray-900);
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }
</style>

<main class="main">
  <div class="content">
    <div class="left-side">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        x="0px"
        y="0px"
        viewBox="0 0 760.6 190.25"
        style="enable-background: new 0 0 760.6 190.25"
        xml:space="preserve"
      >
        <style type="text/css">
          .st0 {
            fill: #142232;
          }
          .st1 {
            fill: #ffffff;
          }
          .st2 {
            fill: none;
          }
          .st3 {
            fill: #ef6723;
          }
          .st4 {
            fill: #f79720;
          }
          .st5 {
            fill: #f9ae42;
          }
          .st6 {
            fill: #981c22;
          }
          .st7 {
            fill: #d02228;
          }
          .st8 {
            fill: #c02729;
          }
          .st9 {
            fill: #e14445;
          }
          .st10 {
            fill: #ef6667;
          }
          .st11 {
            fill: #f2736a;
          }
          .st12 {
            fill: #009247;
          }
          .st13 {
            fill: #088b45;
          }
          .st14 {
            fill: #13b14c;
          }
          .st15 {
            fill: #419a46;
          }
          .st16 {
            fill: #8ac440;
          }
          .st17 {
            fill: #b0d361;
          }
          .st18 {
            fill: #f38120;
          }
          .st19 {
            fill: #f79823;
          }
          .st20 {
            fill: #f9ae43;
          }
          .st21 {
            fill: #152232;
          }
          .st22 {
            fill: #d32329;
          }
          .st23 {
            fill: #289e49;
          }
          .st24 {
            fill: none;
            stroke: #ffffff;
            stroke-miterlimit: 10;
          }
          .st25 {
            fill: none;
            stroke: #ffffff;
            stroke-width: 1.7477;
            stroke-miterlimit: 10;
          }
          .st26 {
            fill: none;
            stroke: #ffffff;
            stroke-width: 1.3173;
            stroke-miterlimit: 10;
          }
          .st27 {
            fill: url(#SVGID_1_);
          }
          .st28 {
            fill: url(#SVGID_00000044882061326167666320000004710507908921186987_);
          }
          .st29 {
            fill: url(#SVGID_00000089554149363455992160000017520052616553052605_);
          }
          .st30 {
            fill: #e62737;
          }
          .st31 {
            fill: #f29422;
          }
          .st32 {
            fill: #f29423;
          }
          .st33 {
            fill: #f7e94a;
          }
          .st34 {
            fill: #5083d5;
          }
        </style>
        <g id="Layer_1">
          <g>
            <g>
              <path
                class="st1"
                d="M307.09,131.54v23.01h-84.77V35.7h25.6v95.84H307.09z"
              />
              <path
                class="st1"
                d="M319.68,38.99c0-7.09,6.06-13.49,13.84-13.49c7.44,0,13.49,6.4,13.49,13.49c0,7.61-6.06,13.84-13.49,13.84     C325.73,52.83,319.68,46.6,319.68,38.99z M320.71,65.11h25.26v89.44h-25.26V65.11z"
              />
              <path
                class="st1"
                d="M500.46,97.63v57.09h-24.22v-52.76c0-10.38-6.57-17.65-15.92-17.65c-10.03,0-17.3,6.75-17.3,16.26v54.15     H418.8v-52.76c0-10.38-6.57-17.65-15.74-17.65c-10.21,0-17.3,6.75-17.3,16.26v53.97H360.5V65.11h25.26v11.76     c4.32-8.48,13.15-13.84,24.22-13.84c12.28,0,22.84,6.23,28.37,16.26c4.67-9.86,15.74-16.26,29.06-16.26     C486.1,63.04,500.46,77.39,500.46,97.63z"
              />
              <path
                class="st1"
                d="M611.18,109.74c0,27.51-17.3,46.88-41.17,46.88c-12.46,0-22.84-5.36-29.93-14.71v12.63h-25.26V33.63h25.26     v43.94c7.09-9.17,17.47-14.53,29.93-14.53C593.88,63.04,611.18,82.41,611.18,109.74z M586.62,109.74     c0-14.88-9.86-25.43-23.87-25.43c-12.28,0-21.28,9-22.66,21.97v6.92c1.38,13.15,10.38,22.14,22.66,22.14     C576.75,135.35,586.62,124.8,586.62,109.74z"
              />
              <path class="st1" d="M622.08,33.63h25.26v120.92h-25.26V33.63z" />
              <path
                class="st1"
                d="M725.19,126.35l16.09,16.43c-7.96,8.3-23.35,13.84-36.5,13.84c-26.64,0-47.4-19.55-47.4-47.06     c0-26.99,19.9-46.54,46.02-46.54c28.03,0,44.46,21.28,44.46,55.01h-64.53c2.94,9.69,10.73,16.26,21.28,16.26     C711.7,134.31,720.35,131.02,725.19,126.35z M683.67,99.88h39.96c-2.42-8.82-9-14.53-19.2-14.53     C694.92,85.35,686.96,90.89,683.67,99.88z"
              />
            </g>
            <g>
              <path
                class="st23"
                d="M153.74,50.78c-0.23-0.3-0.26-0.81-0.08-1.14c3.21-5.64,6.42-11.27,9.62-16.91c0.24-0.41,0.13-1-0.23-1.31     l-15.3-12.9c-0.35-0.3-0.94-0.31-1.31-0.02l-15.4,12.02c-0.29,0.23-0.79,0.27-1.12,0.1c-6.33-3.23-14.96-5.73-18.04-6.36     c-0.37-0.08-0.74-0.44-0.81-0.82c-1.23-6.44-2.46-12.89-3.69-19.33c-0.09-0.47-0.55-0.85-1.03-0.84L86.34,3.37     c-0.46,0-0.92,0.38-1.01,0.83l-4.07,19.87c-0.07,0.33-0.39,0.69-0.71,0.79c-1.37,0.41-4.84,1.47-7.44,2.4l0.01,0.02l-0.01-0.02     c-3.46,1.31-4.72,1.94-8.15,3.68c-0.32,0.16-0.81,0.12-1.09-0.09L48.14,19.2c-0.38-0.28-0.98-0.25-1.33,0.07L32.17,32.91     c-0.34,0.32-0.42,0.9-0.18,1.3l9.51,15.78c0.2,0.33,0.17,0.84-0.05,1.15c-0.94,1.29-1.93,2.78-2.66,3.9     c-0.6,0.93-0.18,1.65,0.93,1.6c85.15-3.66,86.98,28.56,85.62,38.3c0,0.02-0.01,0.06-0.01,0.08l-0.19,0.88     c-0.23,1.08,0.41,1.61,1.43,1.18c12.22-5.25,28.84-35.04,31.2-39.35c0.16-0.29,0.15-0.75-0.02-1.03     C157.53,56.37,153.91,51,153.74,50.78z"
              />
              <path
                class="st31"
                d="M172.36,111.76c0.43-2.65,0.67-5.3,0.79-7.97c0.02-0.37,0.32-0.79,0.67-0.92l18.54-7.02     c0.44-0.17,0.74-0.69,0.65-1.16l-3.56-19.69c-0.08-0.46-0.53-0.84-0.99-0.85l-19.88-0.57c-0.36-0.01-0.77-0.29-0.92-0.62     c-0.86-1.88-2.26-4.23-3.21-5.75c-0.55-0.87-1.36-0.82-1.81,0.1c-34.8,70.49-66.37,57.99-75.62,52.15     c-1.45-0.92-2.13-0.38-1.54,1.23c0,0,6.23,20.7,18.73,49c0.16,0.35,0.59,0.64,0.98,0.63c1.79-0.05,4.97-0.22,8.25-0.75     c0.37-0.06,0.83,0.14,1.04,0.45c3.63,5.51,7.25,11.01,10.88,16.52c0.26,0.4,0.83,0.57,1.27,0.39l18.44-7.78     c0.43-0.18,0.7-0.7,0.62-1.16l-3.63-18.72c-0.07-0.37,0.15-0.81,0.44-1.05c2.24-1.82,10.75-8.77,12.65-10.87     c0.25-0.27,0.73-0.4,1.08-0.29l18.97,6.09c0.45,0.15,1.01-0.08,1.23-0.5l9.49-17.62c0.22-0.41,0.11-0.99-0.24-1.29l-14.89-12.58     c-0.28-0.24-0.43-0.72-0.32-1.08C171.24,117.36,171.88,114.58,172.36,111.76z"
              />
              <path
                class="st30"
                d="M86.68,73.5c0.95,0.67,0.8,1.48-0.3,1.84c-9.35,2.99-35.55,18.71,5.2,92.69c0.5,0.92,0.07,1.61-0.97,1.54     c-1.82-0.12-4.54-0.31-6.31-0.54c-0.36-0.05-0.81,0.17-1,0.47L73,185.67c-0.25,0.39-0.81,0.58-1.24,0.41l-18.73-7.04     c-0.45-0.17-0.74-0.69-0.66-1.16c1.11-6.25,2.23-12.51,3.34-18.76c0.07-0.38-0.14-0.86-0.47-1.06c-2.6-1.57-5.73-4.3-5.73-4.3     l0-0.05l-0.02,0.05c-2.07-1.71-4.03-3.53-5.88-5.44c-0.25-0.26-0.73-0.38-1.07-0.26l-18.97,6.3c-0.44,0.15-0.99-0.06-1.23-0.46     l-10.09-17.28c-0.24-0.41-0.14-1,0.22-1.31l14.67-12.65c0.29-0.25,0.42-0.75,0.3-1.11c-0.97-2.94-2.92-8.93-3.46-19.23     c-0.02-0.37-0.3-0.79-0.65-0.93L5,93.98c-0.43-0.17-0.72-0.69-0.63-1.15l3.5-19.7c0.08-0.47,0.54-0.85,1.02-0.86l20.72-0.15     c0.1-0.24,0.2-0.48,0.3-0.71c0.16-0.36,0.87-1.91,1.07-2.32c0.22-0.45,1.67-3.25,1.67-3.25c0.16-0.31,0.58-0.56,0.93-0.55     C70.84,65.45,83,70.89,86.68,73.5z"
              />
            </g>
          </g>
        </g>
        <g id="Layer_2"></g>
      </svg>
      <h1>Limble Front End Test</h1>
      <p>One Awesome CMMS!</p>
      <div>
        <h3>Labor Expense All Locations By Worker</h3>
        @if(workerCostData && workerCostData.length) {
          <app-chart-component [data]="workerCostData"></app-chart-component>
        } @else if(workerCostData) {
          <p>No data available</p>
        } @else {
          <p>Loading...</p>
        }
      </div>
    </div>
  </div>
</main>
